<div [class]="colorOne">
  <div class="container color-dark">
    <div class="col">
      <p>{{ btnText }}</p>
    </div>
    <div class="col">
      <p>J'ai {{ todo.length }} tâches à faire :</p>
    </div>
  </div>
</div>
<div [class]="colorTwo">
  <div class="container color-light">
      <div class="col">
        <form>
          <p class="sm">Utilise ce formulaire pour ajouter un todo</p>
          <input type="text" class="txt" name="title" placeholder="title" [(ngModel)]="todoTitle">
          <input type="text" class="txt" name="item" placeholder="TODO" [(ngModel)]="todoText">
          <p class="sm">Choisis une date de rendu</p>
          <input type="date" class="txt" name="input" placeholder="dd/MM/yyyy" [(ngModel)]="dueDate">
          <br/>
        <input type="submit" class="btn" [value]="btnText" (click)="addItem()"/>
      </form>
      </div>

    <div class="col">
      <div class="life-container" *ngFor="let todo of todo">
        <i (click)="deleteItem( todo.id )" class="fa fa-times pointer right tooltip marginright" aria-hidden="true">
          <span class="tooltiptext tooltiptext2">Supprimer</span>
        </i>
        <i (click)="startEditing(todo.id, todo.name, todo.description, todo.dueDate)" class="fa fa-pencil pointer right tooltip marginright" aria-hidden="true">
          <span class="tooltiptext">Modifier</span>
        </i>
        {{ todo.name }} <br/>
        {{ todo.description }} <br/>
        {{ todo.date | date:"dd/MM/yyyy 'à' h:mma" }} &nbsp;&nbsp;&nbsp;à rendre le : {{ todo.dueDate }}

      </div>
    </div>
  </div>
</div>


